@inherits CirrusComponentBase

<li role="menu-item"><a href="@Href">@ChildContent</a></li>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
