@page "/"

<CSRow>
    <CSColumn Width="4">
        <CSCard>
            <Title>String Manipulation</Title>
            <Subtitle>Lower, Upper, Reverse, ...</Subtitle>
        </CSCard>
    </CSColumn>
    <CSColumn Width="4">
        <CSCard>
            <Title>Abc</Title>
            <Subtitle>d, e, f, g ...</Subtitle>
        </CSCard>
    </CSColumn>
    <CSColumn Width="4">
        <CSCard>
            <Title>Joejoe</Title>
            <Subtitle>Blah blah!</Subtitle>
        </CSCard>
    </CSColumn>
</CSRow>

@code {
}